.table {
    border-spacing: 0;
    margin: 1rem;
    background-color:  #f5f5f5;
}

.table__row:nth-child(even) {
    background-color: #e5e5e5;
}

.table__header {
    text-align: left;
}

.table__cell {
    text-align: center;
    padding: 8px;

}


.input__field {
    /* Style inputs with type="text", select elements and textareas */
    display:inline-block;
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical
}

.quote__field {
    /* Style inputs with type="text", select elements and textareas */
    display:inline-block;
    width: 80%; /* Full width */
    padding: 12px; /* Some padding */
    border: 3px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    margin-left: 10px;
    margin-right: 10px;
    resize: vertical
}

.submit__field {
    /* Style the submit button with a specific background color etc */
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}