<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration / Login</title>
    <link rel="stylesheet" href="/static/styles.css"/>
    <style>
body {font-family: Arial, Helvetica, sans-serif;}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
</head>
</body>

<h3>Registration / Login </h3>
<div class="container">
    <form action="/register" method="POST">
        {{ form.hidden_tag() }}
        {{ form.user_name(class_="input__field") }}
        {{ form.submit (class_="submit__field")}}
    </form>
</div>
</body>
</html>
